<div class="row">
	<div class="twelve columns">
		<%= comment.commenter %>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<%= comment.body %>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<%= link_to 'Destroy Comment', [comment.post, comment],
		:confirm => 'Are you sure?',
		:method => :delete %>
	</div>
</div>