<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="row">
    <div class="twelve columns">
    <%= f.text_field :commenter, "placeholder" => "Name" %>
  </div>
  </div>
  <div class="row">
    <div class="twelve columns">
    <%= f.text_area :body, "placeholder" => "Comment" %>
  </div>
  </div>
  <div class="row">
      <div class="twelve columns">
        <%= f.submit 'Submit', :class => "button" %>
      </div>
  </div>
<% end %>