<div class="row">
	<div class="twelve columns">
		<h2>
			{{ post.title }}
		</h2>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		by
		{{ post.name }}
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		{{ post.content }}
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<h3>Comments</h3>
	</div>
</div>

<div ng-repeat="comment in comments">
	<div class="row">
		<div class="twelve columns">
			by {{ comment.commenter }}
		</div>
	</div>

	<div class="row">
		<div class="twelve columns">
			{{ comment.body }}
		</div>
	</div>
</div>


<div class="row">
	<div class="twelve columns">
		<h3>Add a comment</h3>
	</div>
</div>


<form method="POST">
	<div class="row">
		<div class="twelve columns">
			<textarea placeholder="Comment..." name="comment[body]" rows="4" cols="40" ng-model="body"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<input type="text" name="comment[name]" placeholder="Name..." ng-model="commenter" />
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<input class="button small" name="submit" type="submit" value="Comment" ng-click="comment()">
			<a href="#/posts">Back</a>
		</div>
	</div>
</form>

