<div class="row">
  <div class="two columns">
  	<ul class="side-nav">
  		<li><%= link_to 'Home', "#/posts" %></li>
    	<li><%= link_to 'New Post', "#/posts/new" %></li>
    </ul>
  </div>
  <div class="ten columns">
  	<div ng-view></div>
  </div>
</div>