<div class="row">
	<div class="two columns">
		<ul class="side-nav">
			<li><%= link_to 'Home', "#/posts" %></li>
			<li><%= link_to 'New Post', "#/posts/new" %></li>
		</ul>
	</div>
	<div class="ten columns">
		<div ng-controller='NoticeCtrl'>
			<div class="row" ng-repeat="notice in notices">
				<div class="twelve columns">
					<div class="alert-box alert">
						{{ notice }}
						<a href="" class="close">&times;</a>
					</div>
				</div>
			</div>
		</div>
		<div ng-view></div>
	</div>
</div>