<div class="row">
	<div class="twelve columns">
		<h1>New post</h1>
	</div>
</div>

<%= render 'form' %>

<div class="row">
	<div class="twelve columns">
		<%= link_to 'Back', posts_path %>
	</div>
</div>
