<h1>About</h1>
<p>
	This is an example demo app with Rails, Zurb Foundation and AngularJS. The point of this demo app was to learn more about Zurb Foundation and AngularJS. For now I can say I loved AngularJS but I will stick with Twitter Bootstrap for front-end development.
</p>
<p>
	To get this working I followed the tutorials bellow.
</p>
<ul>
	<li><a href="http://guides.rubyonrails.org/getting_started.html">Rails blog tutorial.</a></li>
	<li><a href="http://foundation.zurb.com/docs/gem-install.php#simple2">Zurb setup on rails.</a></li>
	<li><a href="https://github.com/ludicast/angular-rails">AngularJs setup on rails.</a></li>
	<li><a href="http://jsfiddle.net/simpulton/GeAAB/">AngularJs communication between controllers.</li>
</ul>
