<!DOCTYPE html>
<html ng-app="blog">
<head>
	<title>Blog</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="contain-to-grid">
		<nav class="top-bar">
			<ul>
				<li class="name"><h1><a href="/">Tutorial Blog</a></h1></li>
				<li class="divider"></li>
			</ul>
			<section>
				<ul class="left">
					<li>
						<a href="#/posts" >Blog</a>
					</li>
					<li>
						<a href="#/pages/about" >About</a>
					</li>
				</ul>

				<ul class="right">
				</ul>
			</section>
		</nav>
	</div>

	<%= yield %>

</body>
</html>
